* {
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Mulish', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #cad2c5;
  --black: #2f3e46;
  --blackLighter: #52796f;
  --grayLight: #84a98c;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
}


body {
  --bodyPaddingTopWeb: 94px;
  --bodyPaddingTopMobile: 40px;
  padding-top: var(--bodyPaddingTopWeb);
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTopWeb));
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  body {
    padding-top: var(--bodyPaddingTopMobile);
  }

  #root {
    min-height: calc(100vh - var(--bodyPaddingTopMobile));
  }
}

a {
  color: inherit;
}