* {
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Mulish', sans-serif;
}

:root {
  --primary: #cad2c5;
  --black: #2f3e46;
  --blackLighter: #52796f;
  --grayLight: #84a98c;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 